raw_data_downloader.sh
monodepth/data/kitti_raw
monodepth/data/scripts
.DS_Store
monodepth/tests
__pycache__
split_data.py
notebooks
monodepth/data/lists
scripts
To_colab
monodepth/To_colab.zip
__init__.py
gt_depths
splits_eigen
test_examples
outputs
monodepth/train_test_commands.txt
monodepth/monodepth2/train_test_commands.txt